<!doctype html>
<html class="no-js" lang="">
	{% block head %}
	<head>
		{{ moment.include_moment() }}
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<title>{% block title %}{% endblock %}</title>
	</head>
	{% endblock %}
	<body>
		{% block logo %}
		<div class="logo">
			<img src="{{url_for('static', filename='img/finecam.png')}}", alt="logo" width=200px>
		</div>
		<h1>NYOCERA-FAIR.CAM</h1>
		{% endblock %}
		{% block content %}
		{% endblock %}
	</body>
</html>
