body {
	background-image: url("img/cloud-background.jpg");
	background-color: black;
}

@font-face {
	font-family: 'orbitron';
	src: url('fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
		 url('fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.logo {
	text-align: center;
}

.postImage {
	margin: auto;
	text-align: center;
}

.postImage img {
	border: 2px solid white;
	width: 380px;
}

@media screen and (min-width: 480px) {
	.postImage img {
		width: 800px;
	}
}

@media screen and (min-width: 2560px) {
	.postImage img {
		width: 1280px;
	}
}

.titleBox {
	border-radius: 25px;
	background-color: red;
	color: white;
	font-family: "orbitron";
	display: table;
	padding: 10px;
}

form  { display: table;      }
p {
	display: table-row;
}
label { display: table-cell; }
input { display: table-cell; }

.uploadBox {
	border-radius: 25px;
	filter: drop-shadow(black 0.3rem 0.3rem 10px);
	background-color: white;
	color: black;
	display: table;
	font-family: sans-serif;
	padding: 16px;
	margin: auto;
}

.postBox {
	/* background: rgba(255,255,255,.2); */
	border-radius: 25px;
	background-color: white;
	filter: drop-shadow(black 0.3rem 0.3rem 10px);
	color: white;
	align-content: center;
	margin: auto;
	width: 380px;
}

@media screen and (min-width: 480px) {
	.postBox {
		width: 612px;
	}
}

@media screen and (min-width: 1600px) {
	.postBox {
		width: 812px;
	}
}

/* .postBox:hover { */
/* 	border: 2px solid white; */
/* } */

.postTitle {
	color: red;
}

.postBox img {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

h1 {
	font-family: "orbitron";
	color: white;
	text-align: center;
	text-shadow: 1px 1px 3px black;
}

h2 {
	font-family: "orbitron";
	color: white;
	text-align: center;
	text-shadow: 1px 1px 3px black;
}

.desc {
	color: black;
	font-size: 16px;
	padding: 15px;
	text-align: center;
	font-family: "orbitron";
}

@media screen and (min-width: 2560px) {
	.desc {
		font-size: 22px;
	}
}

.postButton {
	text-align: center;
	color: red;
	font-family: sans-serif;
}

.file-input {
	display: inline-block;
	font-size: 16px;
	background-color: transparent;
	cursor: pointer;
}

.resultImage {
	text-align: center;
}

.deletionButton {
	text-align: center;
}
