body {
	background-image: url("img/starsbg.gif");
	/* background-size: cover; */
	background-color: black;
	/* background: #eef2ff url(img/backr.png) top center repeat-x; */
}

.logo {
	text-align: center;
}

.uploadBox {
	background: rgba(255,255,255,.2);
	font-family: "Nicomedia";
	color: white;
	display: table;
	font-family: sans-serif;
	padding: 16px;
	margin: auto;
}

.postBox {
	background: rgba(255,255,255,.1);
	font-family: "Nicomedia";
	color: white;
	border-left: none;
	border-right: none;
	border-top: none;
	align-content: center;
	margin: auto;
	width: 400px;
}

.postBox img {
	width: 100%;
	height: auto;
}

h1 {
	font-family: "Nicomedia";
	color: white;
	text-align: center;
}

.desc {
	padding: 15px;
	text-align: center;
	font-family: sans-serif;
}

.postButton {
	text-align: center;
	color: red;
	font-family: sans-serif;
}

.file-input {
	display: inline-block;
	font-size: 16px;
	background-color: transparent;
	cursor: pointer;
}

.resultImage {
	text-align: center;
}
