body {
	background-image: url("img/bg.gif")
}

.logo {
	text-align: center;
}

.uploadBox {
	font-family: sans-serif;
	color: white;
	background-image: url("img/space.gif");
	background-color: black;
	width: 70%;
	border: 3px solid magenta;
	padding: 16px;
	margin: auto;
	box-shadow: 0 0 20px 10px magenta;
}

input {
	background-color: white;
}

.file-input {
	display: inline-block;
	font-size: 16px;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
}

.button {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	background-color: black;
	border: 1px solid magenta;
	cursor: pointer;
	transition: background-color 0.3s;
}

.resultImage {
	text-align: center;
}

input::file-selector-button {
	color: white;
	background-color: black;
	border: 1px solid magenta;
}
