<!doctype html>
{% extends "base.html" %}
{% block title %}nyocera-fair.cam{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block logo %}{{ super() }}{% endblock %}

{% block content %}
<body>
	<div class="uploadBox">
	<div class="titleBox">/ Nyocerifier /</div><br>
		<form method="post" enctype="multipart/form-data">
			<input type="file" name="file" class="file-input">
			<br><br>
			<input type="submit" value="Nyocerify image..." class="button"/>
		</form>
		<p>
			In the early 2000s Kyocera made a series of cameras under the name Finecam.
			<br>
			These cameras are known for having a very unique look to them and this
			website attempts to emulate that look.
			<br>
			You can upload an image here and it will be processed to look like it came from one of these cameras.
			<br><br>
			This website is Free Software and the source code can be found
			<a href="https://github.com/sdxsd/digicamify">here.</a>
			<br><br>
			<img src="{{url_for('static', filename='img/cool.jpg')}}" alt="cat" width=100px>
			<img src={{url_for('static', filename='img/camera.gif')}} alt="cam">
			<img src={{url_for('static', filename="img/brabant.gif")}} alt="brabant">
		</p>
	</div>
</body>
{% endblock %}
