<!doctype html>
{% extends "base.html" %}
{% block title %}{{ post['title'] }}{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block logo %}
	<h1>/ {{ post['title'] }} /</h1>
	<h2>Posted {{ moment(post['posted']).fromNow() }}</h2>
{% endblock %}
{% block content %}
	<div class="deletionButton">
		<a href={{ url_for('posts.delete_post', postid=post['id']) }}>[Delete Post]</a>
	</div><br>
	<div class="postImage">
		<img src="{{ url_for('static', filename=('uploads/' + post['filename'])) }}">
	</div>
{% endblock %}
