<!doctype html>
{% extends "base.html" %}
{% block title %}cybercam.club{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block logo %}{{ super() }}{% endblock %}
{% block content %}
<div class="postButton">
	<h1>
		<a href={{ url_for('posts.post') }}>Make post</a>
	</h1>
</div>
{% for post in posts %}
<div class="postBox">
	<img src="{{ url_for('static', filename=('uploads/' + post['filename'])) }}">
	<a href={{ url_for('posts.view_post', postid=post['id']) }}>
	<div class="desc">{{ post['title'] }}</div>
</div>
<br>
{% endfor %}
{% endblock %}
